@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import '../../node_modules/font-awesome/scss/font-awesome.scss';


* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

.top-header {
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background: rgba(255,255,255,1);
		height: 60px;
		padding: 0 50px;
		#header-title {
			float: left;
			font-size: 28px;
		}
		#login-register {
			text-align: right;
			margin-top: 10px;
		}
		a {
			text-decoration: none;
			color: #000;
		}
		h4 {
			display: inline-block;
			padding-left: 12px;
			margin: 10px;
			font-family: 'Oswald';
		}
		#logout-button {
			float: right;
		}
}


	.home {
		background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../images/nyc2.jpg') center no-repeat;
		background-size: cover;
		text-align: center;
		
		.homeSearch {
			height: 450px;
			#tagline {
				display: block;
				padding: 10% 0 2% 0;
				font-style: italic;
				font-weight: 700;
				color: #fff;
				font-size: 30px;
				font-family: 'Oswald';
			}
			input {
				height: 30px;
				border-radius: 5px;
				border-width: 0;
				padding-left: 5px;
				margin-left: 5px;
			}
			#jobtitle {
				width: 250px;
			}
			#location {
				width: 150px;
			}
			button {
				display: block;
				margin: 0 auto;
				margin-top: 10px;
			}
			select {
				padding: 10px;
				margin: 10px;
				border-width: 0;
				height: 30px;
			}
		}
		a {
			color: #fff;
		}
	}

	.intro {
		h1 {
			font-family: "Oswald";
			font-size: 52px;
		}
		p {
			font-size: 20px;
		}
		.icon {
			margin-top: 20px;
    	text-align: center;
    	display: block;
		}
	}

	.post-job {
		.post-job-form {
			form {
				input, select, textarea {
					display: block;
					margin: 10px 0 5px;
					width: 300px;
				}
				#post-job-location {
					input {
						display: inline-block;
						width: 150px;
					}
				}
				textarea {
					height: 200px;
				}
			}
		}
	}

	.search-criteria-form {
		form {
			input, select, textarea {
				display: block;
				margin: 10px 0 5px;
				width: 300px;
			}
		}
	}
	