@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import '../../node_modules/font-awesome/scss/font-awesome.scss';


* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	min-height: 100%;
}

//HEADER

.top-header {
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background: rgba(255,255,255,1);
		height: 60px;
		padding: 0 50px;
		#header-title {
			float: left;
			font-size: 28px;
		}
		#login-register {
			text-align: right;
			margin-top: 10px;
		}
		a {
			text-decoration: none;
			color: #000;
		}
		h4 {
			display: inline-block;
			padding-left: 12px;
			margin: 10px;
			font-family: 'Oswald';
		}
		#logout-button {
			float: right;
		}
}

//HOME PAGE

	.home {
		background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../images/nyc2.jpg') center no-repeat;
		background-size: cover;
		text-align: center;
		
		.homeSearch {
			height: 500px;
			#tagline {
				display: block;
				padding: 10% 0 2% 0;
				font-style: italic;
				font-weight: 700;
				color: #fff;
				font-size: 30px;
				font-family: 'Oswald';
			}
			input {
				height: 30px;
				border-radius: 5px;
				border-width: 0;
				padding-left: 5px;
				margin-left: 5px;
			}
			#jobtitle {
				width: 250px;
			}
			#location {
				width: 150px;
			}
			button {
				display: block;
				margin: 0 auto;
				margin-top: 10px;
			}
			select {
				padding: 10px;
				margin: 10px;
				border-width: 0;
				height: 30px;
			}
		}
		a {
			color: #fff;
		}
	}

	.intro {
		h1 {
			font-family: "Oswald";
			font-size: 52px;
		}
		p {
			font-size: 20px;
		}
		.icon {
			margin-top: 20px;
    	text-align: center;
    	display: block;
		}
	}

	// POST JOB PAGE

	.post-job {
		.post-job-form {
			form {
				input, select, textarea {
					display: block;
					margin: 10px 0 5px;
					width: 300px;
				}
				#post-job-location {
					input {
						display: inline-block;
						width: 150px;
					}
				}
				textarea {
					height: 200px;
				}
			}
		}
	}

	//SEARCH PAGE

	.search-page {
		background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../images/nyc2.jpg') center no-repeat;
		background-size: cover;
		height: 500px;
		h1 {
			font-family: "Oswald";
			font-size: 52px;
			color: #fff;
			text-align: center;
			padding-top: 5%;
			padding-bottom: 20px;
		}

		.search-criteria-form {
			margin: 0 auto;
	    display: block;
	    width: 300px;
			form {
				input, select, textarea {
					display: block;
					margin: 10px 0 5px;
					width: 300px;
				}
			}
			button {
				margin: 0 auto;
    		width: 100px;
    		display: block;
    		margin-top: 20px;
			}
		}
	}
	.number-results {
			padding-left: 20px;
		}

	.job-listing-search {
		background-color: #ddd;
		padding: 5px 20px 20px;
		margin: 10px;
		h3 {
			text-align: center;
		}
		
	}

	.job-profile {
		border: 1px solid #000;
		margin: 20px 10px 10px 10px;
		padding: 10px;
		background-color: #fff;
		h3 {
			margin: 0;
		}
	}
	
	.loading {
		width: 100%;
		height: 100px;
		background-color: red;
	}

	//JOBS LISTINGS PAGE
	.viewJobs {
		.jobSearchResults {
			.search-results-header {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+35,000000+100&1+35,0+100 */
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%), url('../images/nyc2.jpg') center no-repeat;; /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%), url('../images/nyc2.jpg') center no-repeat;; /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%), url('../images/nyc2.jpg') center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
				height: 300px;
				background-size: cover;
				padding-bottom: 3%;
				h5 {
					font-size: 20px;
    			padding-left: 30px;
    			top: 50%;
    			position: relative;
				}
			}
			.search-results-body {
				background: #EEE;
				.results-column {
					border: 1px solid #000;
					margin-top: 20px;
					padding: 10px;
					background-color: #fff;
					min-height: 295px;
				}
			}
		}
	}

	.job-posting-body {
		background: #EEE;
		padding: 10px;
		height: 100vh;
		h3, h2 {
			margin-top: 0;
		}
	}
	.job-posting-column {
		background: #FFF;
		border: 1px solid #000;
		margin-top: 20px;
		padding: 20px;
	}
	.job-posting {
		background: #FFF;
		border: 1px solid #000;
		margin-top: 20px;
		padding: 20px;
	}

.postJobPage {
	.post-jobs-header {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+35,000000+100&1+35,0+100 */
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%), url('../images/nyc2.jpg') center no-repeat;; /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%), url('../images/nyc2.jpg') center no-repeat;; /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%), url('../images/nyc2.jpg') center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		height: 300px;
		background-size: cover;
		padding-bottom: 3%;
		h5 {
			font-size: 20px;
    	padding-left: 30px;
    	top: 50%;
    	position: relative;
		}
	}
}

.login {
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../images/nyc2.jpg') center no-repeat;
		background-size: cover;
		height: 100vh;
		.login-form {
			background: #FFF;
	    width: 35%;
	    padding: 40px 20px;
	    text-align: center;
	    margin: 0 auto;
	    vertical-align: middle;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    border: 1px solid #000;
		}
		h3 {
			padding-bottom: 10px;
		}
}

.register {
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../images/nyc2.jpg') center no-repeat;
		background-size: cover;
		height: 100vh;
		.register-form {
			background: #FFF;
	    width: 50%;
	    padding: 40px 20px;
	    text-align: center;
	    margin: 0 auto;
	    vertical-align: middle;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    border: 1px solid #000;
		}
		h3 {
			padding-bottom: 10px;
		}
}


